@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-LIGHT.TTF);
  font-weight: 300;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-BOOK.TTF);
  font-weight: 400;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-MEDIUM.TTF);
  font-weight: 450;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-DEMI.TTF);
  font-weight: 500;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-HEAVY.TTF);
  font-weight: 600;
}

@font-face {
  font-family: 'Futura PT';
  src: url(../fonts/FUTURAPT-BOLD.TTF);
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url(../fonts/Bebas_Neue_Cyrillic.ttf);
  font-weight: 400;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  max-width: 360px;
}

/* header */

.header {
  padding-top: 20px;
  padding-bottom: 60px;

  max-width: 428px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/header-background-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-background-mobile-2x.jpg);
  }
}

.start-container::after {
  content: '';
  display: block;

  width: 100%;
  height: 1px;

  margin: 20px auto 40px auto;

  background: #efeae4;
}

.start-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-box p {
  color: #2a2a2a;
  text-align: right;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#monthElement {
  text-transform: lowercase;
}

.header-title {
  color: #29a38d;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 99px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 80px */
  letter-spacing: -4px;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.header-subtitle {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 90%; /* 16.2px */

  max-width: 226px;

  margin-bottom: 237px;
}

.header-desc {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 15.3px */

  max-width: 234px;

  margin-bottom: 30px;
}

.button-container {
  position: relative;

  margin-bottom: 30px;
}

.header-button {
  display: block;
  color: #f6f6f6;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;

  border-radius: 20px;
  background: #72d6bc;

  max-width: 169px;
  width: 100%;

  padding: 10px;
}

/* header-mark */

.header-sale-mark {
  position: absolute;
  top: -28px;
  left: 138px;
}

.sale-mark {
  position: relative;

  animation: spin 2s linear infinite;
  animation-duration: 10s;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.sale-number {
  position: absolute;
  top: 47%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translate(-50%, -50%);

  color: #fff;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.under-header {
  padding-bottom: 60px;
}

/* under-header */

.under-header {
  padding-top: 0;
  padding-bottom: 60px;
}

.bonus-title {
  color: #29a38d;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;

  margin-bottom: 20px;

  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.bonus-title span {
  color: #2a2a2a;
}

.bonus-wrapper {
  position: relative;

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}

.bonus-image {
  position: absolute;
  top: -20px;
  right: -10px;
}

.bonus-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bonus-list .list-item {
  display: flex;
  align-items: center;
  gap: 23px;

  border-radius: 20px;
  background: #e5f7f3;
  padding: 15px 19px;
}

.bonus-list .item-number {
  color: #bfe6df;
  font-family: 'Futura PT';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.bonus-list .item-text {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 13.5px */

  max-width: 218px;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.countdown-time {
  display: block;

  color: #29a38d;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.64px;

  width: 70px;
}

.countdown-doubledot {
  content: '';
  display: flex;

  height: 25px;
  width: 1px;
  background: #29a38d;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
}

/* for you */

.for-you {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #efeae4;

  background-image: url(../images/for-you-background.svg);
}

.for-you-title {
  color: #2a2a2a;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 60%;
  text-transform: uppercase;

  max-width: 232px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}

.for-you-title span {
  font-family: 'Futura PT';
  font-size: 16px;
  font-weight: 500;
}

/* diagnostic */

.for-you-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.for-you-list .list-item {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
  border-radius: 10px;
  background: #a39788;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.for-you-image {
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.for-you-list .item-title {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 13.5px */
  letter-spacing: -0.3px;

  max-width: 170px;

  margin-bottom: 5px;
}

.for-you-list .item-text {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 13.5px */
  letter-spacing: -0.3px;

  max-width: 170px;
}

/* about-author */

.about-author {
  position: relative;

  max-width: 428px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 60px;
  padding-bottom: 25px;

  background-image: url(../images/about-author-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 50% top 20px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-author {
    background-image: url(../images/about-author-mobile-2x.jpg);
  }
}

.about-author-title {
  color: #29a38d;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 350px;
}

.about-author-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.about-author-list .list-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #2a2a2a;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */

  border-radius: 10px;
  background: #fff;

  max-width: 145px;
  height: 70px;
}

.about-author-list .list-item span {
  position: absolute;
  left: 50%;
  top: -20px;

  transform: translate(-50%);

  color: #fff;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%; /* 14.4px */

  padding: 10px;
  border-radius: 60px;
  background: #29a38d;

  max-width: 80px;
  width: 100%;
}

.about-author-container {
  position: absolute;
  right: 0;
  top: 300px;

  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2.5px);

  max-width: 280px;
}

.author-name {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 90%; /* 13.5px */

  margin-bottom: 5px;
}

.author-role {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  margin-bottom: 5px;
}

.author-desc {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
}

/* author-info */

.author-info {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 40px;
  padding-bottom: 60px;
}

.author-info-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.author-info-list .item-box {
  display: flex;
}

.author-info-list .item-box::before {
  content: '';
  display: block;

  margin-top: 6px;
  margin-right: 10px;

  width: 60px;
  height: 1px;

  background: #72d6bc;
}

.author-info-list .item-title {
  color: #29a38d;
  font-family: 'Futura PT';
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 90%; /* 16.2px */

  max-width: 226px;

  margin-bottom: 10px;
}

.author-info-list .list-item:nth-child(1) .item-text {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */

  max-width: 247px;
}

.author-info-list .list-item:nth-child(2) .item-text {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */

  max-width: 255px;
}

/* about-course */

.about-course {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #e5f7f3;
  background-image: url(../images/about-course-background.svg);
  background-position: center;
}

.about-course-title {
  color: #29a38d;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.about-course-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 60px;
}

.about-course-list .list-item {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 15px */

  padding: 20px;
  border-radius: 10px;
  background: #29a38d;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* bonus-wrapper two */

.bonus-container.white {
  margin-bottom: 100px;
}

.bonus-wrapper.white .list-item {
  background: #fff;
}

/* timer-two */

.timer-container-two {
  margin-top: 30px;
}

.countdown-two {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 42px;
}

.countdown-time-two {
  display: block;
  color: #29a38d;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.64px;

  width: 70px;
}

.countdown-doubledot-two {
  content: '';
  display: flex;

  height: 30px;
  width: 1px;
  background: #29a38d;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
}

/* course-program */

.course-program-title {
  color: #29a38d;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.course-program-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.course-program-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 25px 20px;
  border-radius: 15px;
  background: #fff;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.course-program-list .item-number {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 14.3px */
  padding: 5px;
  border-radius: 7px;
  background: #29a38d;
  width: 70px;
}

.course-program-list .item-text {
  color: #2a2a2a;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  max-width: 195px;
  width: 100%;
}

.course-program-list .item-text span {
  font-weight: 500;
}

.course-program-desc {
  color: #2a2a2a;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  max-width: 288px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.course-program-desc span {
  font-weight: 500;
}

.course-program-accent {
  color: #29a38d;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
}

/* section-price */

.section-price {
  background-color: #e5f7f3;

  background-color: #e5f7f3;
  background-image: url(../images/about-course-background.svg);
  background-position: center;
}

.background {
  max-width: 428px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-top: 40px;
  padding-bottom: 60px;
  border-radius: 40px;
  background: #fff;
}

.price {
  color: #29a38d;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.price span {
  color: #ababab;
  text-decoration: line-through;
  text-decoration-color: #2a2a2a;
}

.form-desc-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 20px;
}

.form-desc-list .list-item {
  color: #101010;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */

  max-width: 236px;
  margin-left: auto;
  margin-right: auto;
}

.form-desc-list .list-item span {
  font-weight: 500;
}

.form-container {
  position: relative;
  margin-bottom: 40px;
}

.form-button {
  display: block;
  color: #2a2a2a;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;

  padding: 14px;
  max-width: 266px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  background: #61d7be;

  animation: glowing-button 1300ms infinite;
}

.form-container .header-sale-mark {
  position: absolute;
  top: -28px;
  right: 0;
  left: unset;
}

@keyframes glowing-button {
  0% {
    background-color: #61d7be;
    box-shadow: 0 0 5px #61d7be;
  }
  50% {
    background-color: #9ff2e1;
    box-shadow: 0 0 20px #9ff2e1;
  }
  100% {
    background-color: #61d7be;
    box-shadow: 0 0 5px #61d7be;
  }
}

/* results */

.results {
  background: #e5f7f3;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* how-study */

.how-study-container {
  padding: 30px;
  border-radius: 20px;
  background: #29a38d;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 100px;
}

.how-study-title {
  color: #fff;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.how-study-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.how-study-list .list-item {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 15px */
}

/* results */

.results-title {
  color: #2a2a2a;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.results-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.results-list .list-item {
  color: #2a2a2a;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */

  padding: 20px 30px;
  border-radius: 10px;
  background: #fff;
}

/* section-questions */

.section-questions {
  padding-top: 60px;
  padding-bottom: 100px;
}

.questions-title {
  color: #29a38d;
  text-align: center;
  font-family: 'Bebas Neue Cyrillic';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  max-width: 268px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}

/* faq-02 */

.isOpen .content-two {
  display: block;
}

.question-two {
  position: relative;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 20px;
  background: #e5f7f3;

  padding: 20px;

  max-width: 320px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

  cursor: pointer;
}

.last-question {
  margin-bottom: 0;
}

.content-two {
  display: none;
}

.content-two p {
  color: #171717;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 14.3px */
  letter-spacing: -0.26px;

  padding-top: 10px;
}

.question-two-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-two-name > p {
  color: #171717;
  font-family: 'Futura PT';
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 15px */

  max-width: 226px;
}

.question-plus {
  transform: rotate(0);

  transition: transform 250ms linear;
}
.question-two.open .question-plus {
  transform: rotate(180deg);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 80px;
  background: #101010;
}

.footer-deals::after {
  content: '';
  display: block;

  width: 100px;
  height: 1px;

  margin: 20px auto;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 52.6%,
    rgba(255, 255, 255, 0) 100%
  );
}

.deals-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.deals-list .list-item a {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* mail */

.footer-social-container {
  margin-bottom: 30px;
}

.mail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.mail-link {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
}

/* fop */

.fop-container {
  margin-bottom: 20px;
}

.fop-name {
  color: #fff;
  text-align: center;
  font-family: 'Futura PT';
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

/* disign creator */

.disign-creator-link {
  display: block;
}

.disign-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 7px;
  border-radius: 40px;
  border: 0.3px solid #ffffff88;

  max-width: 260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.create-by-text {
  color: #fff;
  font-family: 'Futura PT';
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
